body {
	font-size: small;
	font-family: Verdana， Helvetica， Arial;
  line-height: 1.6em;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.guarantee {
  padding:25px;
	color: #444444;
	border-color: white;
  border-width: 3px;
  border-style: dashed;
  background-color: #a7cece;
	font-family: "Georgia", "Times New Roman";
	font-style: italic; 
	margin: 30px;
	background-image: url(../images/background.gif);
	padding-left: 80px;
	background-repeat: no-repeat;
	background-position: top left;
	margin-right: 250px;
	border-radius：15px;
}
.exlixirs {
  border-width: thin;
	border-style: solid;
	border-color: #007e7e
	width: 200px;
	}